*.o
*.a
*.so
*.pyc
.swp
.*.swp
python/*.c

# The following are byproducts of running cmake as an in-source build
bin/
doc/
lib/
Makefile
CMakeCache.txt
CMakeFiles/
*.cmake
Doxyfile.api
Doxyfile.internal
install_manifest.txt
libomrx.pc
