*.o
*.a
*.so
*.pyc
*.fo
*.pdf
.swp
.*.swp
python/*.c
spec/xsl/generated/

# The following are byproducts of running cmake as an in-source build
bin/
doc/
lib/
conf/
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Doxyfile.api
Doxyfile.internal
install_manifest.txt
